.Header {
  height: 50px;
  background: rgba(233, 225, 237, 0.933);
}

.Header .container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
